<div>
  <p>コメント件数：<%= topic.topic_comments.count %></p>
  <% topic.topic_comments.each do |topic_comment| %>
    <div class="row my-2">
      <% if topic_comment.customer.image.attached? %>
        <%= image_tag topic_comment.customer.image, size: "100x100" %>
      <% else %>
        <%= image_tag '709572.jpg', size: "100x100" %>
        <% end %>
      <div class="mx-2">
        <%= topic_comment.customer.name %>
        <%= topic_comment.created_at.strftime('%Y/%m/%d') %><br>
        <%= topic_comment.comment %>
      </div>
    </div>
  <% end %>
</div>
<div>
  <%= form_with model: [topic, topic_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>