
<div class="container-fluid">
  <div class="row my-3 d-flex justify-content-center">
    <div class="food-index">
      ご飯
      <%= image_tag '481908.jpg', size: "200x200" %>
    </div>
  </div>
  <%= form_with model: @food do |f| %>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="food-errors">
          <%= render "public/shared/errors", obj: @food %>
        </div>
        <h4>ご飯の記録</h4>
        <table class="table">
          <thead>
            <tr class="table-success">
              <th>月</th>
              <th>日</th>
              <th>曜日</th>
              <th>時間帯</th>
              <th>ご飯の名前</th>
              <th>グラム</th>
              <th>備考</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-light">
              <td><%= f.select :month, *[1..12]  %>月</td>
              <td><%= f.select :day, *[1..31]  %>日</td>
              <td><%= f.select :day_of_week, [["月"],["火"],["水"],["木"],["金"],["土"],["日"]],{} %>曜日</td>
              <td><%= f.select :time_zone, *[1..24]  %>時</td>
              <td><%= f.text_field :name, size:10 %></td>
              <td><%= f.text_field :amount, size:5 %>g</td>
              <td><%= f.text_field :remarks %></td>
              <td><%= f.submit '記録する' %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-1"></div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 mt-3">
      <h4>ご飯の記録一覧</h4>
      <table class="table">
        <thead>
          <tr class="table-success">
            <th>月</th>
            <th>日</th>
            <th>曜日</th>
            <th>時間帯</th>
            <th>ご飯の名前</th>
            <th>グラム</th>
            <th>備考</th>
            <th></th>
          </tr>
        </thead>
        <% @foods.order(created_at: 'desc').each do |food| %>
        <tbody>
          <tr class="table-light">
            <td><%= food.month %>月</td>
            <td><%= food.day %>日</td>
            <td><%= food.day_of_week %>曜日</td>
            <td><%= food.time_zone %>時</td>
            <td><%= food.name %></td>
            <td><%= food.amount %>g</td>
            <% if food.remarks %>
              <td><%= food.remarks %></td>
            <% end %>
            <td><%= link_to '削除', food_path(food.id), method: :delete, "data-confirm" => "本当に削除しますか？"  %></td>
          </tr>
        </tbody>
      <% end %>
      </table>
    </div>
    <div class="col-1"></div>
  </div>
</div>
