<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-4">
      <div class="main-visual">
        <div class="name">
          <%= @customer.name %>さんのマイページ
          <% if @customer.is_active? %>
            <p class="font-weight-bolder text-success">
              <%= '有効' %>
            </p>
          <% else %>
            <p class="font-weight-bolder text-muted">
              <%= '退会' %>
            </p>
          <% end %>
        </div>
        <% if @customer.image.attached? %>
          <%= image_tag @customer.image, size: "300x300" %>
        <% else %>
          <%= image_tag '709572.jpg', size: "300x300" %>
        <% end %>
      </div>
      <div class="cat-name">
        <%= @customer.cat_name %>
        <%= @customer.cat_gender %>
      </div>
      <div class="introduction">
        <自己紹介><br>
        <%= @customer.introduction %>
      </div><p></p>
      <%= link_to edit_admin_customer_path(@customer.id),class:"btn btn-secondary" do %>
        <i class="fa-solid fa-gears"></i>
        編集
      <% end %>
    </div>
    <div class="col-1"></div>
    <div class="col-6 mt-5">
      <table class="table">
        <thead>
          <tr class="table-secondary">
            <th>タイトル</th>
            <th>本文</th>
          </tr>
        </thead>
        <% @topics. each do |topic| %>
        <tbody>
          <tr class="table-light">
            <td><%= topic.title %></td>
            <td>
              <%= link_to admin_topic_path(topic.id) do %>
                <%= truncate(topic.introduction, length: 25) %>
              <% end %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>