<div class="container-fluid">
  <div class="row my-4 d-flex justify-content-center">
    <h3>投稿一覧</h3>
  </div>
  <div class="row d-flex justify-content-end">
    <%= render 'admin/shared/search' %>
    <div class="col-2"></div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <table class="table">
        <thead>
          <tr class="table-secondary">
            <th>会員ＩＤ</th>
            <th>氏名</th>
            <th>タイトル</th>
            <th>本文</th>
            <th>画像</th>
          </tr>
        </thead>
        <% @topics.order(created_at: 'desc'). do |topic| %>
        <tbody>
          <tr class="table-light">
            <td><%= topic.customer.id %></td>
            <td>
              <%= link_to admin_customer_path(topic.customer_id), style: "color: black" do %>
                <%= topic.customer.name %>
              <% end %>
              </td>
            <td><%= topic.title %></td>
            <td>
              <%= link_to admin_topic_path(topic.id), style: "color: black" do %>
                <%= truncate(topic.introduction, length: 25) %>
              <% end %>
            </td>
            <td>
              <% if topic.image.present? %>
                <%= image_tag topic.image, size: "30x30" %>
              <% end %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
    <div class="col-2"></div>
  </div>
</div>
