<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="customer-index">
      投稿一覧
      <%= image_tag '425674.jpg', size: "200x200" %>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-1"></div>
    <div class="col-10">
       <div class="row d-flex justify-content-end">
         <%= render 'public/shared/search' %>
       </div>
        <%= render 'public/shared/tagsearch' %>
       <table class="table">
        <thead>
          <tr class="table-secondary">
            <th></th>
            <th>名前</th>
            <th>タイトル</th>
            <th>本文</th>
            <th>画像</th>
            <th></th>
            <th></th>
            <th>#タグ</th>
            <th></th>
          </tr>
        </thead>
        <% @topics.order(created_at: 'desc').each do |topic| %>
        <tbody>
          <tr class="table-light">
            <td><%= topic.created_at.strftime('%Y/%m/%d %H:%M') %></td>
            <td>
              <%= link_to (topic.customer.is_active ? customer_path(topic.customer.id) : withdrawn_path) do %>
                <%= topic.customer.name %>
              <% end %>
            </td>
            <td><%= topic.title %></td>
            <td>
              <%= link_to topic_path(topic.id) do %>
                <%= truncate(topic.introduction, length: 15) %>
              <% end %>
            </td>
            <td>
              <% if topic.image.present? %>
                <%= image_tag topic.image, size: "30x30" %>
              <% end %>
            </td>
            <td id="favorite_btn_<%= topic.id %>">
                 <%= render "public/favorites/btn", topic: topic %>
            </td>
            <td>コメント件数:<%= topic.topic_comments.count %></td>
            <td>
              <% if topic.category.present? %>
                <%= link_to topic.category,tagsearches_search_path(content: topic.category) %>
              <% end %>
            </td>
            <td>
              <% if topic.customer == current_customer %>
                <%= link_to '削除', topic_path(topic.id), method: :delete, "data-confirm" => "本当に削除しますか？",class: "btn btn-sm btn-danger" %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= render "public/shared/page", obj: @topics %>
    </div>
    <div class="col-1"></div>
  </div>
</div>
