<div class="container-fluid">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <b>会員ID：<%= @customer.id %></b>
      <b><%= @customer.name %>さん</b>
      <div class="topic-title">
      <h5><b>タイトル</b></h5>
        <b><%= @topic.title %></b>
      </div>
      <div class="topic-introduction">
        <h5><b>本文</b></h5>
        <% if @topic.image.present? %>
          <%= image_tag @topic.image,width: "200px" %>
        <% end %>
        <%= @topic.introduction %>
      </div>
      <%= @topic.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
      <% if @topic.customer == current_customer %>
        <%= link_to edit_topic_path(@topic.id),class:"btn btn-secondary mt-2 float-right" do %>
          <i class="fa-solid fa-gears"></i>
          編集
        <% end %>
      <% end %>
      <div id="topic_comment">
        <%= render "public/shared/topic_comment", topic: @topic, topic_comment: @topic_comment %>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>
