<div>
  <p>コメント件数：<%= topic.topic_comments.count %></p>
  <% topic.topic_comments.each do |topic_comment| %>
    <div class="row my-2">
      <% if topic_comment.customer.image.attached? %>
        <%= image_tag topic_comment.customer.image, size: "100x100" %>
      <% else %>
        <%= image_tag '709572.jpg', size: "100x100" %>
        <% end %>
      <div class="mx-2 comment">
        <%= link_to admin_customer_path(topic_comment.customer.id) do %>
          <%= topic_comment.customer.name %>
        <% end %>
        <%= topic_comment.created_at.strftime('%Y/%m/%d') %><br>
        <%= topic_comment.comment %>
        <%= link_to '削除', admin_topic_topic_comment_path(topic,topic_comment), method: :delete, data: { confirm: '本当に削除しますか?' },class: "btn btn-sm btn-danger", remote: true %>
      </div>
    </div>
  <% end %>
</div>
