<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="/assets/nekoken.png" width="300" height="100" class="d-inline-block align-top" alt="">
      </a>
<div class="wf-roundedmplus1c">
           猫の健康管理
       </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <% if admin_signed_in? %>
              <li>
                <%= link_to "会員一覧",admin_root_path, class: "mx-3 nav-link", style: "color: #ffa07a;" %>
              </li>
              <li>
                <%= link_to "投稿一覧",admin_topics_path, class: "mx-3 nav-link", style: "color: #ffa07a;" %>
              </li>
              <li>
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "mx-3 nav-link", style: "color: #ffa07a;" %>
              </li>
            <% elsif customer_signed_in? %>
              <li>
                 <%= link_to "マイページ", customer_path(current_customer), class: "mx-3 nav-link", style: "color: #ffa07a;" ,data: {"turbolinks"=>false} %>
              </li>
              <li>
                 <%= link_to '会員一覧',customers_path, class: "mx-3 nav-link", style: "color: #ffa07a;" %>
              </li>
              <li>
                 <%= link_to "投稿一覧",topics_path, class: "mx-3 nav-link", style: "color: #ffa07a;" %>
              </li>
              <li>
                 <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "mx-3 nav-link", style: "color: #ffa07a;" %>
              </li>
            <% else %>
              <li>
                 <%= link_to 'ネコケンとは？', homes_about_path, class: "mx-3 nav-link", style: "color: #ffa07a;" %>
              </li>
              <li>
                 <%= link_to "投稿一覧",topics_path, class: "mx-3 nav-link", style: "color: #ffa07a;" %>
              </li>
              <li>
                 <%= link_to '新規登録', new_customer_registration_path, class: "mx-3 nav-link", style: "color: #ffa07a;" %>
              </li>
              <li>
                 <%= link_to "ログイン", new_customer_session_path, class: "mx-3 nav-link", style: "color: #ffa07a;" %>
              </li>
            <% end %>
        </ul>
      </div>
    </div>
</nav>

